* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    padding: 15px 40px;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71;
}

.logo span {
    color: #f39c12;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover {
    color: #2ecc71;
}

/* Tim Kreatif */
.team-section {
    text-align: center;
    padding: 50px 20px;
}

.team-section h2 {
    background-color: #28983d;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
    margin-bottom: 30px;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.member {
    text-align: center;
}

.member img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.member h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.member p {
    font-size: 14px;
    color: #555;
}

/* Teori Graf */
.graph-section {
    text-align: center;
    padding: 50px 20px;
}

.graph-section h2 {
    background-color: #28983d;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
    margin-bottom: 30px;
}

.graph-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.graph-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

    .container {
        background-color: #7da2b7;
        padding: 25px;
        border-radius: 15px;
        max-width: 500px;
        margin: auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }
    input {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        border: none;
        border-radius: 8px;
    }
    button {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        background-color: #004b6b;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
    button:hover {
        background-color: #006c99;
    }
    #hasil {
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: bold;
    }

.video-title {
  width: 100%;
  background-color: #2f9e44; 
  color: white;
  text-align: center;
  padding: 20px 0;
  border-radius: 15px;
  font-size: 28px;
  font-weight: bold;
  margin: 40px 0;
}


.video-wrapper {
  display: flex;
  justify-content: center;
}

.video-wrapper iframe {
  width: 70%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}
