body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71;
}

.logo span {
    color: #f39c12;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover {
    color: #2ecc71;
}

h1 {
    background-color: #28983d;
  background-color: d;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

input, button {
  margin: 5px;
  padding: 8px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}

pre {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  width: 60%;
  margin: 10px auto;
}
