body {
    font-family: Arial, sans-serif;
    background: #fff5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2ecc71;
}

.logo span {
    color: #f39c12;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover {
    color: #2ecc71;
}

h2 {
  background-color: #28983d;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.title {
    margin-top: 40px;
    font-size: 32px;
    color: white    ;
}

.card {
    width: 80%;
    max-width: 550px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

input {
    width: 80%;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 12px 30px;
    background: #19c7a6;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #07d8e7;
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.hasil {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.alasan {
    margin-top: 10px;
    font-size: 17px;
    color: #2d3e50;
}
